<form [formGroup]="formGroup" (ngSubmit)="handleSubmit()">

  <p-inputGroup>
    <input type="text" pInputText formControlName="prompt" placeholder="Hi Zühlkee ..." />
    <button type="button" (click)="handleVoice()" pButton icon="pi pi-microphone" class="p-button-secondary" [disabled]="formGroup.invalid || isLoading" ></button>
    <button type="submit" pButton [icon]="!isLoading ? 'pi pi-send' : 'pi pi-spin pi-spinner'" class="p-button-help" [disabled]="formGroup.invalid || isLoading"></button>
  </p-inputGroup>
</form>



